:root{
    --primary-colour: rgba(255,0,255);
    --primary-colour-acsent : rgba(180, 32, 180);
    --secondary-colour: rgba(255,255,0);
    --secondary-colour-acsent: rgba(255,255,0);
    --font-size-big: 2rem;
    --font-size-mid: 1rem;
    --font-size-small: 0.5rem;
    --font-type : "Times New Roman"
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }


    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid;
        border-radius: 1rem;
        width: 70%;
        padding: 2rem;
        align-self: center;
        background-color: var(--primary-colour);
        margin: 2.5%;
        flex: 1;
    
    }






/* .page{
    height: 100vh;
    justify-content: space-between;
}

.loading{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    border-radius: 1rem;
    width: 70%;
    padding: 2rem;
    align-self: center;
    background-color: var(--primary-colour);
    font-size: var(--font-size-big);
}

.avatar img {
    width: 5vw;
    aspect-ratio: 1 / 1; 
    border-radius: 50%;  
    object-fit: cover;   
    display: block;
}




.questionContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid;
    border-radius: 1rem;
    width: 70%;
    padding: 2rem;
    align-self: center;
    background-color: var(--primary-colour);
    height: 100px;
    margin: 30% 0 0 0;
    
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-colour);
}

.userInput{
    background-color: var(--primary-colour-acsent);
    font-size: var(--font-size-mid);
    width: 50%;
    margin-bottom: 5%;
}

.userButton{
    width: 50%;
} */

/* .userBackground{
    background-color: var(--secondary-colour);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
} */

/* .question{
    display: flex;
    align-items: center;
    align-self: center;
    font-size: var(--font-size-big);
}

.answered{
    font-size: var(--font-size-mid);
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
}

.quizBox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.inputBox{
    display: flexbox;

   
}

.guessesBox{
    display: flex;
}

.answerBox{
    width: 100%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}

.quizCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    border-radius: 1rem;
    width: 70%;
    padding: 2rem;
    align-self: center;
    background-color: var(--primary-colour);
    
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid green;
    height: 95vh;
    align-items: center;
    height: 95%;
    overflow-y: auto;
    padding: 1rem;
}

h3{
    position: fixed;
    top: 1vh
}

.component{
    flex: 1;
    overflow: hidden;
}

.questionIcon{
    width: 2.5%;
}

.modInput{
    display: flex;
    flex-direction: column;
} */