:root{
    --primary-colour: rgba(255,0,255);
    --primary-colour-acsent : rgba(180, 32, 180);
    --secondary-colour: rgba(255,255,0);
    --secondary-colour-acsent: rgba(255,255,0);
    --font-size-big: 2rem;
    --font-size-mid: 1rem;
    --font-size-small: 0.5rem;
    --font-type : "Times New Roman"
}


.test{
    border: 2px solid red;
    background-color: red;
}
