.avatar {
    width: 90%;
    height: 90%;
    aspect-ratio: 1 / 1; 
    border-radius: 50%;  
    object-fit: cover;   
    display: block;
    margin-left: 15%;
}

.navBox {
    display: flex;
    background-color: var(--primary-colour);
    height: 5vh;
    justify-content: space-between;
    margin-bottom: 5vh;
}

.navigation{
    display: flex;
    
}

.userCard{
    display: flex;
    align-items: center;
    margin: 0 5% ;
    border: 2px solid black;
}