/* .avatar {
    width: 90%;
    height: 90%;
    aspect-ratio: 1 / 1; 
    border-radius: 50%;  
    object-fit: cover;   
    display: block;
    margin-left: 15%;
} */


/* .userCard{
    padding-right: 5vh;
} */