.questionContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    border-radius: 1rem;
    width: 70%;
    padding: 2rem;
    align-self: center;
    background-color: var(--primary-colour)
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.userInput{
    background-color: var(--primary-colour-acsent);
    font-size: var(--font-size-mid);
    width: 50%;
    margin-bottom: 5%;
}

.userButton{
    width: 50%;
}

.userBackground{
    background-color: var(--secondary-colour);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.question{
    display: flex;
    align-items: center;
    align-self: center;
    font-size: var(--font-size-big);
}

.answered{
    font-size: var(--font-size-mid);
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
}